@import "../setups/variables.scss";
$relative-col-width--left: 60%;
$relative-col-width--right: calc(100% - $relative-col-width--left);

.cart-screen__items {
  width: $relative-col-width--left;
}

.cart-screen__item {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.cart-screen__item-image {
  margin: 0 5px;
  width: calc($font-size * 6);
  // height: calc($font-size * 6);
}

.cart-screen__item-name {
  display: block;
  margin: 0 5px;
}

.cart-screen__item-price {
  margin: 0 5px;
}

.cart-screen__item-qty-wrapper {
  display: flex;
  margin: 0 5px;
}

.cart-screen__item-btn {
  margin: 0 5px;
}
