@import "../setups/variables.scss";
$relative-col-width--left: 60%;
$relative-col-width--right: calc(100% - $relative-col-width--left);

.cart-screen__items {
  width: $relative-col-width--left;
}

.cart-screen__item {
  align-items: center;
  display: grid;
  margin-bottom: 5px;
  grid-template-columns: 20% auto 12% 10% 8%;
  justify-items: start;
  align-items: center;
}

.cart-screen__item-image {
  border: 1px solid red;
  width: calc($font-size * 6);
  // height: calc($font-size * 6);
}

.cart-screen__item-name {
  border: 1px solid green;
  display: block;
}

.cart-screen__item-price {
  border: 1px solid blueviolet;
}

.cart-screen__item-qty-wrapper {
  border: 1px solid tan;
  display: flex;
}

.cart-screen__item-btn {
  border: 1px solid sienna;
}
